<div class="grid grid-cols-1 md:grid-cols-3 gap-8">
  <div id="pendingColumn" class="column">
    <div class="column__header">
      <h2>Pendientes</h2>
    </div>

    <div class="column__body">
      <!-- prettier-ignore -->
      {% for task in pending_tasks %}
        {% include 'partials/task_card.html' with task=task column_type='pending' %}
      {% empty %}
      <p class="column__body--empty">No hay tareas pendientes</p>
      {% endfor %}
    </div>
  </div>

  <div id="completedColumn" class="column">
    <div class="column__header">
      <h2>Completadas</h2>
    </div>

    <div class="column__body">
      <!-- prettier-ignore -->
      {% for task in completed_tasks %}
        {% include 'partials/task_card.html' with task=task column_type='completed' %}
      {% empty %}
      <p class="column__body--empty">No hay tareas completadas</p>
      {% endfor %}
    </div>
  </div>

  <div id="deletedColumn" class="column">
    <div class="column__header">
      <h2>Eliminadas</h2>
    </div>

    <div class="column__body">
      <!-- prettier-ignore -->
      {% for task in deleted_tasks %}
        {% include 'partials/task_card.html' with task=task column_type='deleted' %}
      {% empty %}
      <p class="column__body--empty">No hay tareas eliminadas</p>
      {% endfor %}
    </div>
  </div>
</div>
