<div class="grid grid-cols-1 md:grid-cols-3 gap-6">
  <div
    id="pendingColumn"
    class="bg-gray-100 rounded-2xl shadow-sm shadow-gray-500 p-4"
  >
    <div
      class="flex items-center justify-between mb-4 pb-3 border-b-2 border-black"
    >
      <h2 class="text-xl font-bold flex items-center gap-2">Pendientes</h2>
    </div>

    <div class="space-y-3 max-h-[600px] overflow-y-auto">
      <!-- prettier-ignore -->
      {% for task in pending_tasks %}
        {% include 'partials/task_card.html' with task=task column_type='pending' %}
      {% empty %}
      <p class="text-center text-gray-500 py-8">No hay tareas pendientes</p>
      {% endfor %}
    </div>
  </div>

  <div
    id="completedColumn"
    class="bg-gray-100 rounded-2xl shadow-sm shadow-gray-500 p-4"
  >
    <div
      class="flex items-center justify-between mb-4 pb-3 border-b-2 border-black"
    >
      <h2 class="text-xl font-bold flex items-center gap-2">Completadas</h2>
    </div>

    <div class="space-y-3 max-h-[600px] overflow-y-auto">
      <!-- prettier-ignore -->
      {% for task in completed_tasks %}
        {% include 'partials/task_card.html' with task=task column_type='completed' %}
      {% empty %}
      <p class="text-center text-gray-500 py-8">No hay tareas completadas</p>
      {% endfor %}
    </div>
  </div>

  <div
    id="deletedColumn"
    class="bg-gray-100 rounded-2xl shadow-sm shadow-gray-500 p-4"
  >
    <div
      class="flex items-center justify-between mb-4 pb-3 border-b-2 border-black"
    >
      <h2 class="text-xl font-bold flex items-center gap-2">Eliminadas</h2>
    </div>

    <div class="space-y-3 max-h-[600px] overflow-y-auto">
      <!-- prettier-ignore -->
      {% for task in deleted_tasks %}
        {% include 'partials/task_card.html' with task=task column_type='deleted' %}
      {% empty %}
      <p class="text-center text-gray-500 py-8">No hay tareas eliminadas</p>
      {% endfor %}
    </div>
  </div>
</div>
