<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="author" content="Valentina Muñoz" />
    <meta name="csrf-token" content="{{ csrf_token }}" />
    <title>Gestor de Tareas | Django - HTMX - TailwindCSS - Bokeh</title>
    {% load static %}
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <script src="https://unpkg.com/htmx.org@1.9.10/dist/ext/class-tools.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/lucide@latest"></script>
    <link
      href="https://cdn.bokeh.org/bokeh/release/bokeh-3.3.0.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-3.3.0.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  </head>

  <body hx-ext="class-tools">
    <div class="max-w-6xl mx-auto">
      <header class="flex flex-row items-center justify-between w-full mb-8">
        <h1 class="text-4xl">Gestor de Tareas</h1>
        <div class="flex gap-3">
          <button
            hx-get="/"
            hx-target="#main-content"
            hx-swap="innerHTML"
            class="btn bg-secondary text-white flex items-center"
          >
            <i data-lucide="list" class="w-4 h-4"></i>
            Tareas
          </button>
          <button
            hx-get="{% url 'dashboard' %}"
            hx-target="#main-content"
            hx-swap="innerHTML"
            class="btn bg-secondary text-white flex items-center"
          >
            <i data-lucide="bar-chart-2" class="w-4 h-4"></i>
            Dashboard
          </button>
        </div>
      </header>

      <main id="main-content">
        <div id="columns-board" class="w-full">{% include 'tasks.html' %}</div>
      </main>
    </div>

    <script>
      lucide.createIcons();

      // Obtener token CSRF desde la meta etiqueta
      const csrftoken = document
        .querySelector('meta[name="csrf-token"]')
        .getAttribute("content");

      // Agregar token CSRF a todas las peticiones HTMX
      document.body.addEventListener("htmx:configRequest", (event) => {
        event.detail.headers["X-CSRFToken"] = csrftoken;
      });

      document.body.addEventListener("htmx:afterSwap", function () {
        lucide.createIcons();
      });
    </script>
  </body>
</html>
