<div class="flex flex-col gap-6 w-full">
  <div class="flex flex-col items-end w-full">
    <button
      hx-on:click="htmx.toggleClass(htmx.find('#add-task-form'), 'hidden')"
      class="btn bg-primary text-white"
    >
      + Agregar nueva tarea
    </button>
    <div class="mb-6 w-1/2 ms-auto">
      <form
        id="add-task-form"
        hx-post="{% url 'api_create_task' %}"
        hx-target="#columns-board"
        hx-swap="innerHTML"
        hx-on::after-request="this.reset(); this.classList.add('hidden');"
        class="mt-4 space-y-4 hidden bg-gray-50 p-6 rounded-lg shadow-sm shadow-gray-500"
      >
        {% csrf_token %}
        <div>
          <input
            type="text"
            name="title"
            placeholder="Título de la tarea"
            required
            class="w-full px-4 py-2 border border-gray-500 rounded-lg"
          />
        </div>
        <div>
          <textarea
            name="description"
            placeholder="Descripción (opcional)"
            rows="3"
            class="w-full px-4 py-2 border border-gray-500 rounded-lg"
          ></textarea>
        </div>
        <div class="flex gap-2">
          <button
            type="submit"
            class="flex-1 btn bg-primary text-white hover:opacity-90 transition-opacity"
          >
            Guardar
          </button>
          <button
            type="button"
            hx-on:click="htmx.addClass(htmx.find('#add-task-form'), 'hidden')"
            class="flex-1 btn bg-secondary text-white"
          >
            Cancelar
          </button>
        </div>
      </form>
    </div>
  </div>
  <div id="columns-board">{% include 'partials/all_columns.html' %}</div>
</div>
